@font-face {
    font-family: 'Montserrat';
    src:    url('Montserrat-Regular.woff2') format('woff2'), 
            url('Montserrat-Regular.woff') format('woff'),
            url('Montserrat-Regular.ttf') format('truetype'),
            url('Montserrat-Regular.eot');
}

@font-face {
    font-family: 'Quicksand';
    src:    url('Quicksand-Regular.woff2') format('woff2'),
            url('Quicksand-Regular.woff') format('woff'),
            url('Quicksand-Regular.ttf') format('truetype'),
            url('Quicksand-Regular.eot');
}
