mixin header-mini
  .header-mini
    ul.header-mini__nav
      li
        a(href="colors-types.html").header-mini__link Colors & Types
      li
        a(href="form-elements.html").header-mini__link Form Elements
